fastapi==0.111.0
uvicorn==0.30.1
langgraph==0.1.5
langchain==0.2.6
langchain-openai==0.1.13
pydantic==2.8.0
python-dotenv==1.0.1
faiss-cpu
sentence-transformers
langchain-huggingface
langchain-community
